html {
  scroll-behavior:smooth;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #F4F4F4;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(97, 80, 67);
  border-radius: 6px;
  border: 3px solid #f0f0f0;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(66, 54, 45);
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



table {
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}
th {
  background-color: #9ba657;
  color: white;
  padding: 12px;
  text-align: left;
}
td {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}

.infos{
  width: 80%;
  margin: 20px auto 10px;
}